<%= form_for(@message) do |f| %>
  <%= render partial: 'errors' %>
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <!-- <h5>What are you thinking?</h5> -->
        <div class="input-field col s12">
          <%= f.text_field(:message_text, class: 'validate white-text', required: true) %>
          <%= f.label(:message_text, 'Enter your message for the wall', class: 'blue-text') %>
        </div>
        <%= button_tag(type: 'submit', class: 'btn-large waves-effect waves-light amber darken-1') do %>
          Post to the wall
        <% end %>
      <br><br>
      </div>
    </div>
  </div>
<% end %>
