<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :message_text, "Enter your" %>
          <%= f.text_area :message_text, class: "materialize-textarea", placeholder: 'message for the wall...', required: true  %>
        </div>
      </div>
    </form>
  </div>

  <% if can? :update, @message %>
    <div class="field">
      <%= f.label :approved %>
      <%= f.check_box :approved %>
    </div>
  <% end %>
  
  <div class="actions row">
    <%= button_tag(type: 'submit', class: "yellow darken-4 waves-effect waves-light btn-large col s10 offset-s1 m7 offset-m5 l6 offset-l6") do %>
      <i class="mdi-content-mail left"></i>Post my message to the wall
    <% end %>
  </div>
<% end %>
