
<% if can? :update, @message %>
  <p>
    <strong>Message text:</strong>
    <%= @message.message_text %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= @message.approved %>
  </p>

  <p>
    <strong>Times shown:</strong>
    <%= @message.times_shown %>
  </p>

  <%= link_to 'Edit', edit_message_path(@message) %> |
  <%= link_to 'Back', messages_path %>
<% else %>
  <div class = "row ptl">
    <p>Give us a couple of minutes, while someone approves your message. Then it will be displayed on <%= link_to 'The Wall.', wall_path(1) %></p>
    <br/>
    <p>Want to <%= link_to 'post another message?', new_message_path %></p>
  </div>
<% end %>
