
  <div id="main-content">
    <div class ="row">
      <h3>The What?</h3>
      <p>
        Jerusalem's Wailing Wall, where since the 4th Century people have anonymously posted their prayers of hope, shared their concerns or sought forgiveness by confessing... etc etc...
      </p>
    </div>
  </div>


<% if can? :update, @message %>
  <p>
    <strong>Message text:</strong>
    <%= @message.message_text %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= @message.approved %>
  </p>

  <p>
    <strong>Times shown:</strong>
    <%= @message.times_shown %>
  </p>

  <%= link_to 'Edit', edit_message_path(@message) %> |
  <%= link_to 'Back', messages_path %>
<% else %>
  <div class = "row ptl">
    <p>Give us a couple of minutes, while someone approves your message. Then it will be displayed on <%= link_to 'The Wall.', wall_path(1) %></p>
  </div>
<% end %>
