<!DOCTYPE html>
<html>
<head>
  <title>The Waiting Wall</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'wall_flapper', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/pusher' %>
</head>
<body style="background-color:<%= @colour %>; background-image: url(<%= @background_image.image.url %>);">
  <div class="container mtxl">
    <%= yield %>
  </div>
</body>
</html>
